AIRFLOW_UID=50000
COMPOSE_PROJECT_NAME=airflow
TOKEN_AIR_QUALITY=YOUR_TOKEN(https://aqicn.org/data-platform/token/vn/)
PASS_CLICK_HOUSE=Your_password(When pull Click-house from Docker)
TOKEN_API_WEATHER=YOUR_TOKEN(https://openweathermap.org/weather-conditions?utm_source=chatgpt.com)
JWT_SECRET=require('crypto').randomBytes(64).toString('hex')
